# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

print(g_key)
#print(api_keys)

AIzaSyDr4FevRGHh8xk_XSChi0BZkuus7R_VImI

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_csv_file = "cities.csv"

weather_df = pd.read_csv(weather_csv_file)

weather_df.head()

,City,Country,date,Lat,Lon,MaxTemp,WindSpeed,Clouds,Humidity
0,touros,BR,1600823060,-5.20,-35.46,75.20,5.82,20,83
1,kaitangata,NZ,1600823060,-46.28,169.85,58.12,5.66,8,73
2,butaritari,KI,1600823061,3.07,172.79,82.63,17.45,6,75
3,batticaloa,LK,1600823062,7.71,81.69,81.25,1.92,98,69
4,tasiilaq,GL,1600823062,65.61,-37.64,28.40,6.93,100,74

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)

In [4]:
locations = weather_df[["Lat","Lon"]]
fig = gmaps.figure()
heatLayer = gmaps.heatmap_layer(locations, weights = weather_df["Humidity"])
fig.add_layer(heatLayer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
newDF = weather_df.loc[(weather_df["MaxTemp"] < 80) & (weather_df["MaxTemp"] > 70) & (weather_df["WindSpeed"] < 10) & (weather_df["Clouds"] == 0)]
newDF = newDF.dropna()
newDF

,City,Country,date,Lat,Lon,MaxTemp,WindSpeed,Clouds,Humidity
25,jalu,LY,1600823071,29.03,21.55,70.36,7.45,0,57
36,christchurch,NZ,1600822994,-43.53,172.63,73.40,4.70,0,40
111,mansa,IN,1600823114,29.98,75.38,78.55,6.46,0,78
223,kalemie,CD,1600823166,-5.95,29.19,73.15,3.13,0,73
244,ajdabiya,LY,1600823174,30.76,20.23,71.10,8.14,0,57
295,gat,IL,1600823196,31.61,34.76,77.00,2.84,0,77
315,nalut,LY,1600823205,30.33,10.85,75.51,3.78,0,31
327,awjilah,LY,1600823210,29.11,21.29,70.79,8.50,0,53
333,poum,NC,1600823212,-20.23,164.02,72.30,4.83,0,70
352,pauini,BR,1600823221,-7.71,-66.98,77.52,1.63,0,77
378,san clemente,US,1600823231,33.43,-117.61,75.99,3.00,0,83
392,buraydah,SA,1600823237,26.33,43.98,78.80,3.36,0,31
402,ribas do rio pardo,BR,1600823243,-20.44,-53.76,71.71,9.42,0,68
403,zaria,NG,1600823244,11.11,7.72,72.07,6.53,0,82
444,port macquarie,AU,1600823263,-31.43,152.92,77.00,4.76,0,33
453,coxim,BR,1600823267,-18.51,-54.76,77.59,6.93,0,62
507,awbari,LY,1600823292,26.59,12.78,74.16,7.81,0,26
521,boffa,GN,1600823298,10.17,-14.03,75.11,1.34,0,91
608,jalu,LY,1600823071,29.03,21.55,70.36,7.45,0,57
619,christchurch,NZ,1600822994,-43.53,172.63,73.40,4.70,0,40
694,mansa,IN,1600823114,29.98,75.38,78.55,6.46,0,78
806,kalemie,CD,1600823166,-5.95,29.19,73.15,3.13,0,73
827,ajdabiya,LY,1600823174,30.76,20.23,71.10,8.14,0,57
878,gat,IL,1600823196,31.61,34.76,77.00,2.84,0,77
898,nalut,LY,1600823205,30.33,10.85,75.51,3.78,0,31
910,awjilah,LY,1600823210,29.11,21.29,70.79,8.50,0,53
916,poum,NC,1600823212,-20.23,164.02,72.30,4.83,0,70
935,pauini,BR,1600823221,-7.71,-66.98,77.52,1.63,0,77
961,san clemente,US,1600823231,33.43,-117.61,75.99,3.00,0,83
975,buraydah,SA,1600823237,26.33,43.98,78.80,3.36,0,31
985,ribas do rio pardo,BR,1600823243,-20.44,-53.76,71.71,9.42,0,68
986,zaria,NG,1600823244,11.11,7.72,72.07,6.53,0,82
1027,port macquarie,AU,1600823263,-31.43,152.92,77.00,4.76,0,33
1036,coxim,BR,1600823267,-18.51,-54.76,77.59,6.93,0,62
1090,awbari,LY,1600823292,26.59,12.78,74.16,7.81,0,26
1104,boffa,GN,1600823298,10.17,-14.03,75.11,1.34,0,91

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = newDF  # copy new df into hotel df

# insert(position of column, name of column, values in the columns)
hotel_df.insert(0,"Hotel Name", "")

In [7]:
hotel_df

,Hotel Name,City,Country,date,Lat,Lon,MaxTemp,WindSpeed,Clouds,Humidity
25,,jalu,LY,1600823071,29.03,21.55,70.36,7.45,0,57
36,,christchurch,NZ,1600822994,-43.53,172.63,73.40,4.70,0,40
111,,mansa,IN,1600823114,29.98,75.38,78.55,6.46,0,78
223,,kalemie,CD,1600823166,-5.95,29.19,73.15,3.13,0,73
244,,ajdabiya,LY,1600823174,30.76,20.23,71.10,8.14,0,57
295,,gat,IL,1600823196,31.61,34.76,77.00,2.84,0,77
315,,nalut,LY,1600823205,30.33,10.85,75.51,3.78,0,31
327,,awjilah,LY,1600823210,29.11,21.29,70.79,8.50,0,53
333,,poum,NC,1600823212,-20.23,164.02,72.30,4.83,0,70
352,,pauini,BR,1600823221,-7.71,-66.98,77.52,1.63,0,77
378,,san clemente,US,1600823231,33.43,-117.61,75.99,3.00,0,83
392,,buraydah,SA,1600823237,26.33,43.98,78.80,3.36,0,31
402,,ribas do rio pardo,BR,1600823243,-20.44,-53.76,71.71,9.42,0,68
403,,zaria,NG,1600823244,11.11,7.72,72.07,6.53,0,82
444,,port macquarie,AU,1600823263,-31.43,152.92,77.00,4.76,0,33
453,,coxim,BR,1600823267,-18.51,-54.76,77.59,6.93,0,62
507,,awbari,LY,1600823292,26.59,12.78,74.16,7.81,0,26
521,,boffa,GN,1600823298,10.17,-14.03,75.11,1.34,0,91
608,,jalu,LY,1600823071,29.03,21.55,70.36,7.45,0,57
619,,christchurch,NZ,1600822994,-43.53,172.63,73.40,4.70,0,40
694,,mansa,IN,1600823114,29.98,75.38,78.55,6.46,0,78
806,,kalemie,CD,1600823166,-5.95,29.19,73.15,3.13,0,73
827,,ajdabiya,LY,1600823174,30.76,20.23,71.10,8.14,0,57
878,,gat,IL,1600823196,31.61,34.76,77.00,2.84,0,77
898,,nalut,LY,1600823205,30.33,10.85,75.51,3.78,0,31
910,,awjilah,LY,1600823210,29.11,21.29,70.79,8.50,0,53
916,,poum,NC,1600823212,-20.23,164.02,72.30,4.83,0,70
935,,pauini,BR,1600823221,-7.71,-66.98,77.52,1.63,0,77
961,,san clemente,US,1600823231,33.43,-117.61,75.99,3.00,0,83
975,,buraydah,SA,1600823237,26.33,43.98,78.80,3.36,0,31
985,,ribas do rio pardo,BR,1600823243,-20.44,-53.76,71.71,9.42,0,68
986,,zaria,NG,1600823244,11.11,7.72,72.07,6.53,0,82
1027,,port macquarie,AU,1600823263,-31.43,152.92,77.00,4.76,0,33
1036,,coxim,BR,1600823267,-18.51,-54.76,77.59,6.93,0,62
1090,,awbari,LY,1600823292,26.59,12.78,74.16,7.81,0,26
1104,,boffa,GN,1600823298,10.17,-14.03,75.11,1.34,0,91

In [8]:
hotel_df = hotel_df.loc[hotel_df["Humidity"] < 80]
hotel_df

,Hotel Name,City,Country,date,Lat,Lon,MaxTemp,WindSpeed,Clouds,Humidity
25,,jalu,LY,1600823071,29.03,21.55,70.36,7.45,0,57
36,,christchurch,NZ,1600822994,-43.53,172.63,73.40,4.70,0,40
111,,mansa,IN,1600823114,29.98,75.38,78.55,6.46,0,78
223,,kalemie,CD,1600823166,-5.95,29.19,73.15,3.13,0,73
244,,ajdabiya,LY,1600823174,30.76,20.23,71.10,8.14,0,57
295,,gat,IL,1600823196,31.61,34.76,77.00,2.84,0,77
315,,nalut,LY,1600823205,30.33,10.85,75.51,3.78,0,31
327,,awjilah,LY,1600823210,29.11,21.29,70.79,8.50,0,53
333,,poum,NC,1600823212,-20.23,164.02,72.30,4.83,0,70
352,,pauini,BR,1600823221,-7.71,-66.98,77.52,1.63,0,77
392,,buraydah,SA,1600823237,26.33,43.98,78.80,3.36,0,31
402,,ribas do rio pardo,BR,1600823243,-20.44,-53.76,71.71,9.42,0,68
444,,port macquarie,AU,1600823263,-31.43,152.92,77.00,4.76,0,33
453,,coxim,BR,1600823267,-18.51,-54.76,77.59,6.93,0,62
507,,awbari,LY,1600823292,26.59,12.78,74.16,7.81,0,26
608,,jalu,LY,1600823071,29.03,21.55,70.36,7.45,0,57
619,,christchurch,NZ,1600822994,-43.53,172.63,73.40,4.70,0,40
694,,mansa,IN,1600823114,29.98,75.38,78.55,6.46,0,78
806,,kalemie,CD,1600823166,-5.95,29.19,73.15,3.13,0,73
827,,ajdabiya,LY,1600823174,30.76,20.23,71.10,8.14,0,57
878,,gat,IL,1600823196,31.61,34.76,77.00,2.84,0,77
898,,nalut,LY,1600823205,30.33,10.85,75.51,3.78,0,31
910,,awjilah,LY,1600823210,29.11,21.29,70.79,8.50,0,53
916,,poum,NC,1600823212,-20.23,164.02,72.30,4.83,0,70
935,,pauini,BR,1600823221,-7.71,-66.98,77.52,1.63,0,77
975,,buraydah,SA,1600823237,26.33,43.98,78.80,3.36,0,31
985,,ribas do rio pardo,BR,1600823243,-20.44,-53.76,71.71,9.42,0,68
1027,,port macquarie,AU,1600823263,-31.43,152.92,77.00,4.76,0,33
1036,,coxim,BR,1600823267,-18.51,-54.76,77.59,6.93,0,62
1090,,awbari,LY,1600823292,26.59,12.78,74.16,7.81,0,26

In [15]:
params = {
    "location": "26.59,12.78 ",
    "keyword": "hotels",
    "radius": 5000,
    "type": "hotel",
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [16]:
response.json()

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 26.5966876, 'lng': 12.7660784},
    'viewport': {'northeast': {'lat': 26.59754482989272,
      'lng': 12.76749617989272},
     'southwest': {'lat': 26.59484517010728, 'lng': 12.76479652010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'name': 'فندق أوباري',
   'photos': [{'height': 2448,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101972293516130674603">A Google User</a>'],
     'photo_reference': 'CmRaAAAAN-g5o5SrSa6M3dl8k_Yn9l-vFtEeXJkKYe4aioDT_H7D4-J7FCLZTTl-EpCQaeuM2zhhhvmMLdJj4F1BVW1MLQwbm2ljnNgt2CxIxgZFeP7SrHuGyAVjlCpIBkBJi-pLEhBkE92lzagdydtdCa-hiVxlGhRyn8wvhlXXe-nqRoMBieDF8yTPTg',
     'width': 3264}],
   'place_id': 'ChIJ6Zv45DsryRMRAOIEyS7197Q',
   'plus_code': {'compound_code': 'HQW8+MC Awbari\u200e, Libya',
    'global_code': '7FRJHQW8+MC'},
   'rating': 2.8,
   'reference': 'ChIJ6Zv45DsryRMRAOIEyS7197Q',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 9,
   'vicinity': 'Unnamed Road, أوباري،'}],
 'status': 'OK'}

In [18]:
#setting up general parameters of search
params = {    
    "keyword": "hotels, lodging, inns, indoor",
    "radius": 5000,
    "type": "hotel",
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# go through each row (city), use the coordinates to search for hotels
# when the results are available, use the first hotel provided
for index, row in hotel_df.iterrows():
    print(row['City'], row['Lat'], row['Lon'])
    params['location'] = f"{row['Lat']},{row['Lon']}"
    
    
    print(f"Locating hotel within city : {row['City']} ...")
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    res = response.json()
        
    try:
        print(f"found hotel : {res['results'][0]['name']}")
        hotel_df.loc[hotel_df['City'] == row['City'], "Hotel Name"] = res['results'][0]['name']
        
    except:
        print("No hotel found...")

jalu 29.03 21.55
Locating hotel within city : jalu ...
No hotel found...
christchurch -43.53 172.63
Locating hotel within city : christchurch ...
found hotel : Ascot Vale Motor Lodge
mansa 29.98 75.38
Locating hotel within city : mansa ...

C:\Users\Fransisco Garcia\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

found hotel : HOTEL DG
kalemie -5.95 29.19
Locating hotel within city : kalemie ...
No hotel found...
ajdabiya 30.76 20.23
Locating hotel within city : ajdabiya ...
No hotel found...
gat 31.61 34.76
Locating hotel within city : gat ...
No hotel found...
nalut 30.33 10.85
Locating hotel within city : nalut ...
No hotel found...
awjilah 29.11 21.29
Locating hotel within city : awjilah ...
No hotel found...
poum -20.23 164.02
Locating hotel within city : poum ...
No hotel found...
pauini -7.71 -66.98
Locating hotel within city : pauini ...
No hotel found...
buraydah 26.33 43.98
Locating hotel within city : buraydah ...
found hotel : Best Western Plus Buraidah
ribas do rio pardo -20.44 -53.76
Locating hotel within city : ribas do rio pardo ...
found hotel : Hotel da Célia
port macquarie -31.43 152.92
Locating hotel within city : port macquarie ...
found hotel : East Port Motor Inn
coxim -18.51 -54.76
Locating hotel within city : coxim ...
found hotel : Hotel Pé de Cedro
awbari 26.59 12.78
Locating hotel within city : awbari ...
No hotel found...
jalu 29.03 21.55
Locating hotel within city : jalu ...
No hotel found...
christchurch -43.53 172.63
Locating hotel within city : christchurch ...
found hotel : Ascot Vale Motor Lodge
mansa 29.98 75.38
Locating hotel within city : mansa ...
found hotel : HOTEL DG
kalemie -5.95 29.19
Locating hotel within city : kalemie ...
No hotel found...
ajdabiya 30.76 20.23
Locating hotel within city : ajdabiya ...
No hotel found...
gat 31.61 34.76
Locating hotel within city : gat ...
No hotel found...
nalut 30.33 10.85
Locating hotel within city : nalut ...
No hotel found...
awjilah 29.11 21.29
Locating hotel within city : awjilah ...
No hotel found...
poum -20.23 164.02
Locating hotel within city : poum ...
No hotel found...
pauini -7.71 -66.98
Locating hotel within city : pauini ...
No hotel found...
buraydah 26.33 43.98
Locating hotel within city : buraydah ...
found hotel : Best Western Plus Buraidah
ribas do rio pardo -20.44 -53.76
Locating hotel within city : ribas do rio pardo ...
found hotel : Hotel da Célia
port macquarie -31.43 152.92
Locating hotel within city : port macquarie ...
found hotel : East Port Motor Inn
coxim -18.51 -54.76
Locating hotel within city : coxim ...
found hotel : Hotel Pé de Cedro
awbari 26.59 12.78
Locating hotel within city : awbari ...
No hotel found...

In [26]:
hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
hotel_df

,Hotel Name,City,Country,date,Lat,Lon,MaxTemp,WindSpeed,Clouds,Humidity
36,Ascot Vale Motor Lodge,christchurch,NZ,1600822994,-43.53,172.63,73.40,4.70,0,40
111,HOTEL DG,mansa,IN,1600823114,29.98,75.38,78.55,6.46,0,78
392,Best Western Plus Buraidah,buraydah,SA,1600823237,26.33,43.98,78.80,3.36,0,31
402,Hotel da Célia,ribas do rio pardo,BR,1600823243,-20.44,-53.76,71.71,9.42,0,68
444,East Port Motor Inn,port macquarie,AU,1600823263,-31.43,152.92,77.00,4.76,0,33
453,Hotel Pé de Cedro,coxim,BR,1600823267,-18.51,-54.76,77.59,6.93,0,62
619,Ascot Vale Motor Lodge,christchurch,NZ,1600822994,-43.53,172.63,73.40,4.70,0,40
694,HOTEL DG,mansa,IN,1600823114,29.98,75.38,78.55,6.46,0,78
975,Best Western Plus Buraidah,buraydah,SA,1600823237,26.33,43.98,78.80,3.36,0,31
985,Hotel da Célia,ribas do rio pardo,BR,1600823243,-20.44,-53.76,71.71,9.42,0,68
1027,East Port Motor Inn,port macquarie,AU,1600823263,-31.43,152.92,77.00,4.76,0,33
1036,Hotel Pé de Cedro,coxim,BR,1600823267,-18.51,-54.76,77.59,6.93,0,62

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [28]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
hotelMarker = gmaps.marker_layer(locations, info_box_content = hotel_info )
fig.add_layer(hotelMarker)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))